<header>
  <div class="image-area">

    <div class="row">

      <div class="col-sm-7 left-column">

        <div class="tagline">
          <span>get comfortable</span><br>
          <span class="line2">in a new position...</span>
        </div>

        <div class="description">
          <div>Manage interviews with <strong>DOZENS</strong> of hot companies</div>
          <ul>
            <li>Conduct research</li>
            <li>Manage contacts</li>
            <li>Schedule interviews</li>
          </ul>
          <div>
            Always know exactly<br>
            <strong class="where-you-stand">WHERE YOU STAND</strong><br>
            in the interview process
          </div>
        </div>

      </div>
  
      <div class="col-sm-5 right-column">
        <button class="btn btn-lg btn-primary" ui-sref="register">Join the Hunt!</button>
      </div>

    </div>
  </div>
</header>

<section class="promo-strip">
  <div class="row">
    <div class="col-sm-6">
      <div class="promo-block visual">

        <h4>See it in action...</h4>
        <div class="video-frame">
          <img src="../images/demo.gif">
        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="promo-block other">
        <div class="promo-text">
          <h2>Get started with Job Hunt to:</h2>
            <div class="promo">
              <li>Manage your prospective companies</li>
              <li>Track your job hunt progress</li>
              <li>Schedule phone screens and onsites</li>
              <li>Document your research</li>
              <li>Have your resources all in one place</li>
            </div>
          <h4>What are you waiting for? Join the hunt today!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</section>
